# Configuration of class BasicQualifiedRule

# Mappings for raw qualified rules to CSS declarations.
# The keys are the rule names, the values are the corresponding CSS declaration class name.
background: com.coradec.coradoc.cssdecl.BackgroundDeclaration
background-attachment: com.coradec.coradoc.cssdecl.BackgroundAttachmentDeclaration
background-clip: com.coradec.coradoc.cssdecl.BackgroundClipDeclaration
background-color: com.coradec.coradoc.cssdecl.BackgroundColorDeclaration
background: com.coradec.coradoc.cssdecl.BackgroundDeclaration
background-image: com.coradec.coradoc.cssdecl.BackgroundImageDeclaration
background-origin: com.coradec.coradoc.cssdecl.BackgroundOriginDeclaration
background-position: com.coradec.coradoc.cssdecl.BackgroundPositionDeclaration
background-repeat: com.coradec.coradoc.cssdecl.BackgroundRepeatDeclaration
background-size: com.coradec.coradoc.cssdecl.BackgroundSizeDeclaration
border: com.coradec.coradoc.cssdecl.BorderDeclaration
border-color: com.coradec.coradoc.cssdecl.BorderColorDeclaration
border-style: com.coradec.coradoc.cssdecl.BorderStyleDeclaration
border-width: com.coradec.coradoc.cssdecl.BorderWidthDeclaration
color: com.coradec.coradoc.cssdecl.ColorDeclaration
font: com.coradec.coradoc.cssdecl.FontDeclaration
font-family: com.coradec.coradoc.cssdecl.FontFamilyDeclaration
font-size: com.coradec.coradoc.cssdecl.FontSizeDeclaration
font-style: com.coradec.coradoc.cssdecl.FontStyleDeclaration
font-variant: com.coradec.coradoc.cssdecl.FontVariantDeclaration
font-weight: com.coradec.coradoc.cssdecl.FontWeightDeclaration
line-height: com.coradec.coradoc.cssdecl.LineHeightDeclaration
padding: com.coradec.coradoc.cssdecl.PaddingDeclaration
position: com.coradec.coradoc.cssdecl.PositionDeclaration
top: com.coradec.coradoc.cssdecl.TopDeclaration
left: com.coradec.coradoc.cssdecl.LeftDeclaration
right: com.coradec.coradoc.cssdecl.RightDeclaration
bottom: com.coradec.coradoc.cssdecl.BottomDeclaration
height: com.coradec.coradoc.cssdecl.HeightDeclaration
width: com.coradec.coradoc.cssdecl.WidthDeclaration
