# Configuration of class CMP_Handler

# Name: StandardPort
# Desc: Standard port to which servers understand this protocol are listening on.
# Type: Integer
# Dflt: 1024
#StandardPort: 1024

# Name: Separator
# Desc: The separator between the property name and value in a header field.
# Type: String
# Dflt: ":"
#Separator: ":"

# Name: Delimiter
# Desc: The delimiter of a property (separator between two properties).
# Type: String
# Dflt: "\n"
#Delimiter: \n

# Name: RecipientSeparator
# Desc: Separator between recipients in the #TO header.
# Type: String
# Dflt: ","
#RecipientSeparator: ","
