# Configuration of class CentralMessageQueue

# Name: HighWaterMark
# Desc: Maximum number of threads to run in the message queue.  Load tuning parameter.
#       • Setting this very low will prevent smooth message processing and slow down the system.
#       • Setting it very high may cause the system to choke from too many parallel processes and
#         thus prevent smooth operation.
# Type: Integer
# Dflt: 20
#HighWaterMark: 12

# Name: LowWaterMark
# Desc: Minimum number of threads to keep alive in the message queue.  Load tuning parameter.
#       • Setting this very low may slow down message processing, as no spare threads are available
#         when bursts of messages come in.
#       • Setting it high will create a lot of idle threads and waste memory, but prevent from
#         choking on bursts of incoming messages.
# Type: Integer
# Dflt: 3
#LowWaterMark: 3

# Name: Patience
# Desc: How much time a message processor will wait idle until it dies.
# Type: Duration
# Dflt: 20s
#Patience: 20 s

# Name: QueueQueueSize
# Desc: Size of the queue that holds the recipient queues.  Performance tuning parameter.
#       • Setting this very low will limit the number of concurrent recipients in the system, which
#         may prove fatal.
#       • Setting it too high will only waste memory.
# Type: Integer
# Dflt: 1024
#QueueSize: 1024

# Name: InfoQueueSize
# Desc: Maximum size of the information and event queue (not counting Message and its subclasses)
#       • Setting this too low will keep workers standing in the info queue trying to deliver
#         possibly not so important event notifications while neglecting their work.  It may even
#         lead to congestion.
#       • Setting this too high will only waste memory.
# Type: Integer
# Dflt: 8192
#InfoQueueSize: 8192

# Name: PrioInfoQueueSize
# Desc: Maximum size of the urgent information and event queue (not counting Message and its subclasses)
#       • Setting this too low will keep workers standing in the info queue trying to deliver
#         urgent event notifications while neglecting other work.  It may even lead to congestion.
#       • Setting this too high will only waste memory.
# Type: Integer
# Dflt: 512
#InfoQueueSize: 512

# Name: RecipientQueueSize
# Desc: Maximum size of the per-recipient message queue.
#       • Setting this too low will keep workers standing in the info queue trying to deliver
#         messages while neglecting their work.  It may even lead to congestion.
#       • Setting this too high will waste a lot of memory (it's per recipient and thus multiplied
#         by QueueQueueSize).
# Type: Integer
# Dflt: 1024
#InfoQueueSize: 1024

# Name: RecipientPrioQueueSize
# Desc: Maximum size of the per-recipient urgent message queue.
#       • Setting this too low will keep workers standing in the info queue trying to deliver
#         urgent messages while neglecting other work.  It may even lead to congestion.
#       • Setting this too high will waste a lot of memory (it's per recipient and thus multiplied
#         by QueueQueueSize).
# Type: Integer
# Dflt: 64
#InfoQueueSize: 64

# Name: MaxObservers
# Desc: Maximum number of concurrent observers.
#       • Setting this too low may jeopardize the entire message processing mechanics, as it may
#         inhibit request state forwarding which depends on event notifications.
#       • Setting this too high will only waste memory.
# Type: Integer
# Dflt:
