# Configuration of class CentralMessageQueue

# Name: HighWaterMark
# Desc: Maximum number of threads to run in the message queue.  Load tuning parameter.
# Type: Integer
# Dflt: 20
HighWaterMark: 12

# Name: LowWaterMark
# Desc: Minimum number of threads to keep alive in the message queue.  Load tuning parameter.
# Type: Integer
# Dflt: 3
LowWaterMark: 3

# Name: QueueQueueSize
# Desc: Size of the queue that holds the recipient queues.  Performance tuning parameter.
# Type: Integer
# Dflt: 1024
#QueueSize: 1024
