# Configuration of class BasicSystemBus

# Name: SystemBusPort
# Desc: The port exposed by an external system bus on the same network interface.
# Type: Integer
# Dflt: 10
SystemBusPort: 1024

# Name: SystemBusTimeout
# Desc: The amount of time to wait for a response from an external system bus.
# Type: Duration
# Dflt: 1s
SystemBusTimeout: 1s
