# Configuration of class Network

# Name: EnabledProtocols
# Desc: A list of protocols for which a server should be started.
#       Note that for each named protocol, a protocol handler class with name <protocol>_Handler
#       must exist as a bus node implementation.  "CMP_Handler" is included in CoraBusBasic.
# Type: List<String>
# Dflt: ["CMP"]
#EnabledProtocols: [CMP]

